$size-thresholds: (
    mobile-large: 425px,
    tablet: 767px,
);

$font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;

%button-unstyled {
    padding: 0;
    background-color: transparent;
    border: 0;
}

%link-unstyled {
    color: inherit;
    text-decoration: none;
}

@function em($value-in-px, $base-size) {
    @return 1em * ($value-in-px / $base-size);
}

@mixin respond-from($breakpoint) {
    @if type-of($breakpoint) == string {
        @media screen and (min-width: map-get($size-thresholds, $breakpoint)) {
            @content;
        }
    } @else {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}
