@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply flex min-h-full flex-col antialiased;

    color: theme('colors.gray-blue.100');
    background-color: theme('colors.gray-blue.900');
  }

  h1,
  h2,
  h3,
  h4 {
    color: theme('colors.white');
  }

  button:disabled {
    cursor: 'default';
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  .search-suggestion em {
    font-style: normal;
    font-weight: bold;
  }
}

@layer components {
  .default-container {
    @apply mx-auto w-5/6 md:w-3/4 lg:w-7/12 xxl:w-1/3;
  }

  .page-title {
    font-size: 1.67em;
    margin-top: 1em;
    margin-bottom: 0.67em;
  }

  @screen md {
    .page-title {
      font-size: 2.33em;
      margin-top: 1.33em;
      margin-bottom: 1em;
    }
  }

  .key {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }
}

@layer utilities {
  .grid-cols-status {
    grid-template-columns: max-content 1fr;
  }

  .text-shadow-2px {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }
}
